.wp-block-group{
    &.is-style-grid-2-1{
        @include m(600){
         display: flex;
         flex-wrap: wrap;
            >.wp-block-group{
                width: 100%;
                order:2;
                &:has(figure){
                    order:1;
                }
                
            }
        }
    }
}