@import "styles/blocks/core-group-grid-2-1";
@import "styles/blocks/core-button-with-arrow";


.wp-block-up-bk-slick-slider{
    img{
        max-height: calc(100svh - var(--header-height));
    }
}

.equipe-v2__img{
    background: radial-gradient(circle, rgb(255,255,255) 50%, lightgrey 100%);
}

.media-simple-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 2rem 0;
}

blockquote.is-style-box{
    position: relative;
    &:before, &:after{
            content:"";
            display:inline-flex;
    
            background: url(assets/images/quote-left.svg) no-repeat;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            z-index: 2;
           
    }
    &:before{
        height: 40px;
        width: 40px;
        top: 0; left: 0;
        transform: translateY(-50%) translateX(55px) rotate(180deg);
    }
    &:after{
        height: 60px;
        width: 60px;
        bottom: 0; right: 0;
        transform: translateY(50%) translateX(-55px);
    }
}

.card-equipe-v2{
    position: relative;
    cursor:pointer;
    .toggleElementJs{
      
        opacity: .1;
        position: relative;
        transform: translateY(-50%);
        position: absolute;
       height: 0;
       overflow: hidden;
        transition:
            opacity .4s ease 200ms, /* Opacité avec délai de 700ms */
            transform .5s ease 0ms;   /* Transform sans délai */
    }
    &.active, &:hover{
        .toggleElementJs{
            opacity: 1;
            height: auto;
            overflow: visible;
            position: relative;
            transform: translateY(0);
            transition: all 0ms auto;
        }
    }
}

.wp-block-group:has(> .wp-block-post-terms){
    position: relative;
}
.wp-block-post-terms{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;
    a{
        pointer-events: none;
        cursor:none;
        text-decoration: none;
        color:var(--wp--preset--color--contrast);
        background: var(--wp--preset--color--accent);
        display: inline-block;
        padding: 5px 10px;
        border-radius: 2px;
        font-size:      var(--wp--preset--font-size--ml);
    }
}
// .taxonomy-up_program_taxonomy_availability