<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
   <!-- wp:pattern {"slug":"citizim-2024/titre-intro"} /-->
    <!-- wp:group {"className":"is-style-default","layout":{"type":"constrained","contentSize":"1200px"}} -->
    <div class="wp-block-group is-style-default"><!-- wp:html -->
        [query_cards theme="dark"]
        <!-- /wp:html --></div>
        <!-- /wp:group -->
        
        <!-- wp:spacer {"height":"var:preset|spacing|7"} -->
        <div style="height:var(--wp--preset--spacing--7)" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
        
        <!-- wp:group {"className":"is-style-section-style1","style":{"layout":{"rowSpan":1,"columnSpan":1},"spacing":{"padding":{"right":"var:preset|spacing|2","left":"var:preset|spacing|2","top":"var:preset|spacing|7","bottom":"var:preset|spacing|7"},"blockGap":"var:preset|spacing|5"}},"layout":{"type":"constrained","contentSize":"760px"}} -->
        <div class="wp-block-group is-style-section-style1" style="padding-top:var(--wp--preset--spacing--7);padding-right:var(--wp--preset--spacing--2);padding-bottom:var(--wp--preset--spacing--7);padding-left:var(--wp--preset--spacing--2)"><!-- wp:heading {"textAlign":"center","level":3,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"h-four"} -->
        <h3 class="wp-block-heading has-text-align-center has-h-four-font-size" style="font-style:normal;font-weight:600">Plus d’informations ? Nous vous recontactons !</h3>
        <!-- /wp:heading -->
        
        <!-- wp:group {"className":"is-style-default","style":{"spacing":{"padding":{"top":"var:preset|spacing|6","bottom":"var:preset|spacing|6","left":"var:preset|spacing|6","right":"var:preset|spacing|6"}},"shadow":"var:preset|shadow|outlined 2"},"backgroundColor":"base-3","layout":{"type":"constrained"}} -->
        <div class="wp-block-group is-style-default has-base-3-background-color has-background" style="padding-top:var(--wp--preset--spacing--6);padding-right:var(--wp--preset--spacing--6);padding-bottom:var(--wp--preset--spacing--6);padding-left:var(--wp--preset--spacing--6);box-shadow:var(--wp--preset--shadow--outlined-2)"><!-- wp:shortcode -->
        [contact-form-7 id="725f2bc" title="Formulaire de contact 1"]
        <!-- /wp:shortcode --></div>
        <!-- /wp:group -->
        
        <!-- wp:paragraph {"fontSize":"xs"} -->
        <p class="has-xs-font-size">CITIZIM en tant que responsable de traitement met en œuvre un traitement de données ayant pour finalités la réponse aux demandes des personnes ayant souhaité entrer en contact avec elle et la prospection. Ce traitement est fondé sur l’intérêt légitime du responsable de traitement de développer son activité et de gérer les relations avec les clients et les prospects. Vous disposez d’un droit d’accès, d’interrogation, de rectification, d’effacement, de limitation et d’opposition au traitement de vos données ainsi qu’un droit à la portabilité de ces dernières. Pour en savoir plus sur le traitement des données et vos droits cliquez ici</p>
        <!-- /wp:paragraph --></div>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->